.tarjetaLogin {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    /*height: 100vh; /* Altura completa de la pantalla */
}
  
  
ion-grid {
    height: 100%;
}
  

ion-row {
    height: 100%;
}

ion-item {
    margin-bottom: 16px;
}
  
ion-button {
    margin-top: 16px;
}

.labelDatos{
    margin-bottom: 15px;
}

  

  
